$green: #5cb85c;
$dark-green: #449E44;
$gray: #7B848A;
$light-blue: #9ac1e5;
$blue: #2B6CA7;
$dark-blue: #1f4e7a;
$red: #D9534F;
$dark-red: #a72925;

$oswald: 'Oswald', sans-serif;
$open-sans: 'Open Sans', sans-serif;

/* GLOBAL */
html, body {
	font-family: $open-sans;
	height: 100%;
	overflow-y: scroll;
}

body {
	margin-bottom: 60px;
}

h1 {
	line-height: 1.1;
	margin: 15px 0;
}

a {
	color: $blue;

	&:hover {
		color: $dark-blue;
	}
}

/* UTILITIES */

.oswald {
	font-family: $oswald;
	letter-spacing: 2px;
}

.uppercase {
	text-transform: uppercase;
}

.open {
	font-family: $open-sans;
}

.light {
	font-weight: 300;
}

.bold {
	font-weight: 700;
}

.blue {
	color: $blue;
}

.white {
	color: white;
}

.dark-blue {
	color: $dark-blue;
}

.red {
	color: $red;
}

.dark-red {
	color: $dark-red;
}

.gray {
	color: $gray;
}

.very-small {
	font-size: .5em;
}
.significantly-small {
	font-size: .65em;
}

.small {
	font-size: .8em;
}
.big {
	font-size: 1.2em;
}
.very-big {
	font-size: 1.5em;
}

.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}

/* HACKS */


label > input{ /* HIDE RADIO */
	visibility: hidden; /* Makes input not-clickable */
	position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
	cursor:pointer;
	border:3px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
	border:3px solid $light-blue;
}



/* STYLISTIC CHOICES */

.admin {
	color: $red;
	font-weight: 700;

	&:hover {
		color: $dark-red;
		text-decoration: none;
	}
}

.staff {
	color: $blue;
	font-weight: 700;

	&:hover {
		color: $dark-blue;
		text-decoration: none;
	}
}

.badge-light {
	background: #ddd;
}

.badge-normal {
	background: #A8A878;
}

.badge-fire {
	background: #F08030;
}

.badge-fighting {
	background: #C03028;
}

.badge-water {
	background: #6890F0;
}

.badge-flying {
	background: #A890F0;
}

.badge-grass {
	background: #78C850;
}

.badge-poison {
	background: #A040A0;
}

.badge-electric {
	background: #F8D030;
}

.badge-ground {
	background: #E0C068;
}

.badge-psychic {
	background: #F85888;
}

.badge-rock {
	background: #B8A038;
}

.badge-ice {
	background: #98D8D8;
}

.badge-bug {
	background: #A7B720;
}

.badge-dragon {
	background: #7038F8;
}

.badge-ghost {
	background: #705898;
}

.badge-dark {
	background: #705848;
}

.badge-steel {
	background: #B8B8D0;
}

.badge-fairy {
	background: #EE99AC;
}

.badge-question {
	background: #68A090;
}

/* LAYOUT - MOBILE FIRST */

.desktop {
	display: none;
}

.desktop-table {
	display: none;
}

.mobile {
	display: inline;
}

.mobile-nav {
	border-top: 1px solid white;
	background: $blue;
	padding: 3px 15px;

	a {
		color: white;
	}

	a.navbar-brand {
		color: $dark-blue;

		&:hover {
			color: $dark-blue;
		}
	}

	ul {
		display: inline-block;

		li {
			display: inline-block;

			a {
				width: 50px;
				text-align: center;
			}
		}
	}
}

.announcements-title {
	background: $blue;
	padding: 5px;
	width: 100%;
	height: 32px;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	
	a {
		color: rgba(255, 255, 255, .7);

		&:hover {
			color: white;
		}
	}
}

.announcements {
	background: #f5f5f5;
	position: relative;
	font-size: 1em;
	height: 112px;
	overflow-x: hidden;
	overflow-y: hidden;
	width: 100%;

	.item {
		padding-top: 32px;
		height: 80px;
		width: 100%;

		.wrap {
			padding: 10px 20px;
		}
	}
}

.row-fluid{
    white-space: nowrap;
}
.row-fluid .col-md-4{
    display: inline-block;

    .wrap {
    	white-space: normal;
    }
}

.next-button {
	position: absolute;
	right: 0;
	top: 0;
	height: 112px;
	line-height: 112px;
	width: 30px;
	text-align: center;
	background: rgba(0, 0, 0, .1);
	color: white;
}

.previous-button {
	position: absolute;
	left: 0;
	top: 0;
	height: 112px;
	line-height: 112px;
	width: 30px;
	text-align: center;
	background: rgba(0, 0, 0, .1);
	color: white;
}

.content-box {
	border: 1px solid $blue;
	margin-bottom: 10px;

	.content-box-head {
		padding: 5px;
		background: $blue;
		color: white;
		font-family: $oswald;
		letter-spacing: 2px;
		text-align: center;
	}

	.content-box-body {
		padding: 15px 15px 0 15px;
	}

	.content-box-button {
		width: 100%;
		border: none;
		background: $blue;
		color: white;
		font-family: $oswald;
		letter-spacing: 2px;

		&:focus {
			outline: 0;
			background: $dark-blue;
			border: none;
		}
	}

	.content-box-button-disabled {
		background: $gray;
	}
}

.content-box-gray {
	border:1px solid $gray;

	.content-box-head {
		background: $gray;
	}
	
	.content-box-button {
		background: $gray;
	}

}

table.content-box-table {
	width: 100%;
	border: 1px solid $blue;

	th {
		background: $blue;
		font-family: $oswald;
		letter-spacing: 2px;
		color: white;
		padding: 5px 15px;

		a {
			color: rgba(255,255,255,.7);
			&:hover {
				color: white;
			}
		}
	}

	td {
		padding: 5px 15px;
	}
}

table.sticky {
	border: 1px solid $dark-green;
	th {
		background: $dark-green;
	}
}

/* MENUS */

.menu-bubble {
	position: absolute;
	display: none;
	bottom: 55px;
	left: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	.bubble {
		position: relative;
		width: 250px;
		min-height: 120px;
		padding: 0px;
		background: $dark-blue;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;

		&:after {
			content: '';
			position: absolute;
			border-style: solid;
			border-width: 10px 10px 0;
			border-color: $dark-blue transparent;
			display: block;
			width: 0;
			z-index: 1;
			bottom: -10px;
			left: 14px;
		}

		.bubble-content {
			background: white;
			color: $dark-blue;
			border: 1px solid $dark-blue;
			padding: 5px;
		}
	}
}

.notes-circle {
	background: $red;
	border-radius: 50%;
	color: white;
	padding: 5px 9px;
	text-align: center;
}

/* PAGES */


.party-space {
	background:rgba(0, 0, 0, .03);
	margin-bottom: 20px;
	padding: 0px;

	.party-space-content {
		padding: 10px;
	}

	.party-space-button {
		background: $blue;
		color: white;
		border:1px solid $blue;
		font-family: $oswald;
		letter-spacing: 2px;
	}

	.party-space-berries {
		text-align: center;
		margin-bottom:5px;
		.berry {
			margin: 2px;
		}

		.berry-favorite {
			background: green;
		}

		.berry-disliked {
			background: red;
		}
	}
}

.lab-egg {
	position: relative;
	display: inline-block;

	span {
		position: absolute;
		bottom: 20px;
		left: 48px;
	}
}

@media only screen and (max-device-width: 768px) {
	.mobile-container {
		padding-top: 10px;
		min-height: 100%;
		overflow-y: scroll;
	}
}


/* LAYOUT - DESKTOP SECOND */

@media only screen and (min-device-width:768px) {
	.mobile {
		display: none;
	}

	.desktop {
		display: inline;
	}

	.desktop-table {
		display: table-cell;
	}

	.navbar {
		background-color: $blue;
		padding: 0px;

		font-family: $oswald;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: 500;
		font-style: italic;

		margin-right: -15px;

		.navbar-brand {
			margin: 5px 30px;
			color: rgba(255, 255, 255, .5);
			letter-spacing: 4px;
			&:hover {
				color: rgba(255, 255, 255, .7);
			}
		}

		li.nav-item {
			padding: 5px;
			border-right: 2px solid rgba(255, 255, 255, .3);
			border-left: 2px solid rgba(255, 255, 255, .3);
			margin-left:-2px;
			&:hover {
				background: $dark-blue;
			}
		}

		li.no-blue {
			padding: 5px;
			border-right: 2px solid rgba(255, 255, 255, .3);
			border-left: 2px solid rgba(255, 255, 255, .3);
			margin-left:-2px;
			&:hover {
				background: $blue;
			}
		}

		a.nav-link {
			margin-left: 10px;
			margin-right: 10px;
			color: white !important;
			width: 67px;
			text-align: center;
		}

		.navbar-text {
			color: $gray;
			margin-left: 10px;
			margin-right: 10px;
		}
	}

	/* DROPDOWN */

	ul {

		li {
			transition: padding .05s linear;
			a {
				transition: all .1s ease-out;
			}
		}

		li.drop {
			position: relative;
		}

		.dropOut .triangle {
			width: 0;
			height: 0;
			position: absolute;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-bottom: 8px solid $dark-blue;
			top: -8px;
			left: 50%;
			margin-left: -8px;

		}

		.dropdownContain {
			width: 160px;
			position: absolute;
			z-index: 2;
			left: 50%;
			margin-left: -80px;
			top: -400px;
		}

		.dropOut {
			width: 160px;
			background: $dark-blue;
			float: left;
			position: relative;
			margin-top: 0px;
			opacity: 0;
			border-radius: 4px;
			transition: all .1s ease-out;

			a {
				color: rgba(255,255,255,.7);
				font-family: $open-sans;
				text-transform: none;
				font-style:normal;
				font-weight: 300;

				&:hover {
					color: white;
				}
			}
		}

		.dropOut ul {
			float: left;
			padding: 10px 0;
		}

		.dropOut ul li {
			text-align: left;
			flot: left;
			width: 125px;
			padding-left: 15px;
			color: white;
		}


		li:hover .dropdownContain {
			top: 65px;
		}

		li:hover .dropOut {
			opacity: 1;
			margin-top: -15px;
		}
	}


	/* NEWS */

	.news {
		background: #f5f5f5;
		position: relative;
		font-size: 1em;

		.news-item {
			padding: 10px 15px 20px 15px;
			border-right: 2px solid white;
		}
	}

	.row-fluid{
	    white-space: nowrap;
	}
	.row-fluid .col-md-4{
	    display: inline-block;

	    .wrap {
	    	white-space: normal;
	    }
	}

	.the-border-clause {
		border: none;
	}

	.footer {
	  	position: absolute;
	  	bottom: -70;
	  	width: 100%;
	  	/* Set the fixed height of the footer here */
	  	height: 60px;
	  	line-height: 60px; /* Vertically center the text there */
	  	background-color: #f5f5f5;
	  	padding-left: 10px;

	  	a {
	  		margin: 5px;
	  	}
	}

}





