{% extends "mobile-first-base.html" %}
{% load staticfiles %}

{% block title %}Lab{% endblock %}

{% block content %}

<div class="col-sm-1">

</div>

<div class="col-sm-6">
	<h1 class="gray oswald">Prof. Cedar's Laboratory</h1>
	<p>Hello! I'm Professor Cedar, but most people call me the Pok&eacute;mon Professor! This great Pok&eacute;mon Laboratory will be the starting point for your voyage into the world of Pok&eacute;mon!</p>
	<p>Here at the "lab", the brilliant scientists and myself have a great many Pok&eacute;mon of all types for research, and I am happy to provide some to the prospective Pok&eacute;mon Masters out there- Like you!</p>
	<p>Unfortunately, not all of these Pok&eacute;mon, still incubating in eggs, are identified by research, so you will have to sort through our collection to find the ones you want. I know I want them all!</p>
	<p>You can look around all you want. Good luck, and godspeed!</p><Br />

	{% if user.is_authenticated %}
	<div class="content-box">
		<div class="content-box-head">Professor's Eggs</div>
		<div class="content-box-body" style="padding:0px;text-align: center;">
			<a href="{% url 'lab_adopt' pk='1' %}">
				<div class="lab-egg">
					<img src="{% static 'img/eggs/00.png' %}" />
					<span class="badge badge-{{ lab_set.egg_1_type }}">{{ lab_set.egg_1_type }}</span>
				</div>
			</a>
			<a href="{% url 'lab_adopt' pk='2' %}">
				<div class="lab-egg">
					<img src="{% static 'img/eggs/00.png' %}" />
					<span class="badge badge-{{ lab_set.egg_2_type }}">{{ lab_set.egg_2_type }}</span>
				</div>
			</a>
			<a href="{% url 'lab_adopt' pk='3' %}">
				<div class="lab-egg">
					<img src="{% static 'img/eggs/00.png' %}" />
					<span class="badge badge-{{ lab_set.egg_3_type }}">{{ lab_set.egg_3_type }}</span>
				</div>
			</a>
			<a href="{% url 'lab_adopt' pk='4' %}">
				<div class="lab-egg">
					<img src="{% static 'img/eggs/00.png' %}" />
					<span class="badge badge-{{ lab_set.egg_4_type }}">{{ lab_set.egg_4_type }}</span>
				</div>
			</a>
		</div>

		<form action="{% url 'lab_reload' %}">
			<button type="submit" class="content-box-button">Reload</button>
		</form>
	</div>
	{% endif %}
	
	<br />
</div>

<div class="col-sm-4">
	<img src="{% static 'img/cedar.jpg' %}" width="100%" />
</div>

<div class="col-sm-1">
	
</div>

{% endblock %}