{% extends "mobile-first-base.html" %}
{% load staticfiles %}

{% block title %}Lab{% endblock %}

{% block content %}

<div class="col-sm-1">

</div>

<div class="col-sm-6">
	<h1 class="gray oswald">Prof. Cedar's Laboratory</h1>
	<p>Hello! I'm Professor Cedar, but most people call me the Pok&eacute;mon Professor! This great Pok&eacute;mon Laboratory will be the starting point for your voyage into the world of Pok&eacute;mon!</p>
	<p>Not all Pok&eacute;mon in this grand and diverse world have been identified by science. Here at the "lab" we rely on Pok&eacute;mon trainers and breeders like you to find new kinds of Pok&eacute;mon.</p>
	<p>To keep track of your discoveries, we will give you a great invention- the Pok&eacute;mon Index, or Pok&eacute;dex for short! By the power of modern technology it will automatically record every Pok&eacute;mon you hatch.</p>
	<br class="desktop" />
	<a href="{% url 'receive_pokedex' %}"><button class="btn btn-secondary">Receive Your Pok&eacute;dex!</button></a>
	<br class="mobile" />
	<br class="mobile" />
</div>

<div class="col-sm-4">
	<img src="{% static 'img/cedar.png' %}" class="render" width="100%" />
	<br class="mobile" />
	<br class="mobile" />
</div>

<div class="col-sm-1">
	
</div>

{% endblock %}