{% extends "mobile-first-base.html" %}
{% load staticfiles %}

{% block title %}Parcels{% endblock %}

{% block content %}

<div class="col-sm-1">

</div>

<div class="col-sm-6">
	<h1 class="gray oswald">Parcels <small style="font-size:.6em;">Click to open</small></h1>
	<div class="content-box">
		<div class="content-box-body" style="padding-bottom:15px;">
			{% if has_parcel %}
				{% for i in parcel_quantity %}
					<a href="{% url 'open_parcel' %}"><img src="{% static 'img/items/parcel.png' %}" /></a>
				{% endfor %}
			{% else %}
				<i class="gray">You do not have any parcels.</i>
			{% endif %}
		</div>
	</div>
	<br /><h3 class="gray oswald">Parcel Parcels</h3>
	<div class="content-box">
		<div class="content-box-body" style="padding-bottom:15px;">
			{% if has_parcel_parcel %}
				{% for i in parcel_parcel_quantity %}
					<a href="{% url 'open_parcel_parcel' %}"><img src="{% static 'img/items/parcel-parcel.png' %}" /></a>
				{% endfor %}
			{% else %}
				<i class="gray">You do not have any parcel parcels.</i>
			{% endif %}
		</div>
	</div>
</div>
<div class="col-sm-4">
	<br /><h3 class="gray oswald">Purchase</h3>
	<p><i class="gray">These may or may not belong to a certain mailing facility, but we're not asking questions.</i></p>
	<br /><h5 class="gray oswald">Parcel Store <span class="badge badge-electric">GOLD</span></h5>
	<table class="content-box-table">
		<tr>
			<th>PARCEL</th>
			<th>IMG</th>
			<th>Price</th>
		</tr>
		<tr>
			<td>Parcel Parcel</td>
			<td><img src="{% static 'img/items/parcel-parcel.png' %}" /></td>
			<td><a href="#" data-toggle="modal" data-target="#buy-parcel-parcel">{{ parcel_parcel.purchase_value_coins }} Coins</a></td>
		</tr>
		<tr>
			<td class="small gray" colspan="3">
				{{ parcel_parcel.description }}
			</td>
		</tr>
	</table>
</div>

<div class="modal fade" id="buy-parcel-parcel" tabindex="-1" role="dialog" aria-labelledby="SellItem" aria-hidden="true">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">Buy Parcel Parcelss</h4>
	  </div>
	  <div class="modal-body">

	  <form action="{% url 'purchase_gold_item' item_pk=parcel_parcel.pk %}" method="POST">
			{% csrf_token %}
   			<input type="hidden" name="next" value="{{ request.path }}">
			<div class="form-group">
				<label>Buy</label>
				<input type="text" name="quantity" value="1" size="10" />
			</div>
	  </div>
	  <div class="modal-footer">
		<button type="submit" class="btn btn-secondary">Buy for {{ parcel_parcel.purchase_value_coins }} Coins each</button>
		</form>
	  </div>
	</div>
  </div>
</div>

<div class="col-sm-1">
	
</div>

{% endblock %}