{% load staticfiles %}
{% if adopt.can_interact %}
<div class="party-space-berries" id="interaction-{{ adopt.pk}}">

	<form id="interact-form-{{ adopt.pk }}-sour" style="display:inline-block;">{% csrf_token %}
		<input type="hidden" name="berry" value="{% if adopt.favorite == 'sour' %}favorite{% elif adopt.disliked == 'sour' %}disliked{% endif %}" />
		<button type="submit" formmethod="post" class="btn btn-sm btn-smr btn-secondary {% if adopt.favorite == 'sour' %}btn-success{% elif adopt.disliked == 'sour' %}btn-danger{% endif %}">
			<img src="{% static 'img/items/sitrus-berry.png' %}" />
		</button>
	</form>

	<form id="interact-form-{{ adopt.pk }}-spicy" style="display:inline-block;">{% csrf_token %}
		<input type="hidden" name="berry" value="{% if adopt.favorite == 'spicy' %}favorite{% elif adopt.disliked == 'spicy' %}disliked{% endif %}" />
		<button type="submit" formmethod="post" class="btn btn-sm btn-smr btn-secondary {% if adopt.favorite == 'spicy' %}btn-success{% elif adopt.disliked == 'spicy' %}btn-danger{% endif %}">
			<img src="{% static 'img/items/leppa-berry.png' %}" />
		</button>
	</form>

	<form id="interact-form-{{ adopt.pk }}-dry" style="display:inline-block;" >{% csrf_token %}
		<input type="hidden" name="berry" value="{% if adopt.favorite == 'dry' %}favorite{% elif adopt.disliked == 'dry' %}disliked{% endif %}" />
		<button type="submit" formmethod="post" class="btn btn-sm btn-smr btn-secondary {% if adopt.favorite == 'dry' %}btn-success{% elif adopt.disliked == 'dry' %}btn-danger{% endif %}">
			<img src="{% static 'img/items/chesto-berry.png' %}" />
		</button>
	</form>

	<form id="interact-form-{{ adopt.pk }}-sweet" style="display:inline-block;">{% csrf_token %}
		<input type="hidden" name="berry" value="{% if adopt.favorite == 'sweet' %}favorite{% elif adopt.disliked == 'sweet' %}disliked{% endif %}" />
		<button type="submit" formmethod="post" class="btn btn-sm btn-smr btn-secondary {% if adopt.favorite == 'sweet' %}btn-success{% elif adopt.disliked == 'sweet' %}btn-danger{% endif %}">
			<img src="{% static 'img/items/kasib-berry.png' %}" />
		</button>
	</form>

	<form id="interact-form-{{ adopt.pk }}-bitter" style="display:inline-block;">{% csrf_token %}
		<input type="hidden" name="berry" value="{% if adopt.favorite == 'bitter' %}favorite{% elif adopt.disliked == 'bitter' %}disliked{% endif %}" />
		<button type="submit" formmethod="post" class="btn btn-sm btn-smr btn-secondary {% if adopt.favorite == 'bitter' %}btn-success{% elif adopt.disliked == 'bitter' %}btn-danger{% endif %}">
			<img src="{% static 'img/items/nanab-berry.png' %}" />
		</button>
	</form>


</div>
{% else %}
	<div style="padding-bottom: 10px; text-align: center">
		{% if not user.is_authenticated %}
		<i class="gray" style="padding: 10px;">Please log in to interact.</i><br />
		{% else %}
		<i class="gray" style="padding: 10px;">Thank you!</i><br />
		{% endif %}
	</div>
{% endif %}


<script type="text/javascript">
	$(document).ready(function(){
    	$("#interact-form-{{ adopt.pk }}-sour").submit(function(){
		    event.preventDefault();
		    $.ajax({
		        url: '{% url 'interact' username=adopt.owner.username pk=adopt.pk %}',
		        type: 'POST',
		        data: $(this).serialize(),
		        success: function(data) {
		            $("#interaction-{{ adopt.pk }}").html('<div style="padding-bottom: 10px; text-align: center"><i class="gray" style="padding: 10px;">Thank you!</i><br /></div>');
		            
		            $("#exp-{{ adopt.pk }}").load(document.URL + ' #exp-{{ adopt.pk }}');
		        }
		    });
		});
    	$("#interact-form-{{ adopt.pk }}-spicy").submit(function(){
		    event.preventDefault();
		    $.ajax({
		        url: '{% url 'interact' username=adopt.owner.username pk=adopt.pk %}',
		        type: 'POST',
		        data: $(this).serialize(),
		        success: function(data) {
		            $("#interaction-{{ adopt.pk }}").html('<div style="padding-bottom: 10px; text-align: center"><i class="gray" style="padding: 10px;">Thank you!</i><br /></div>');
		            
		            $("#exp-{{ adopt.pk }}").load(document.URL + ' #exp-{{ adopt.pk }}');
		        }
		    });
		});
    	$("#interact-form-{{ adopt.pk }}-dry").submit(function(){
		    event.preventDefault();
		    $.ajax({
		        url: '{% url 'interact' username=adopt.owner.username pk=adopt.pk %}',
		        type: 'POST',
		        data: $(this).serialize(),
		        success: function(data) {
		            $("#interaction-{{ adopt.pk }}").html('<div style="padding-bottom: 10px; text-align: center"><i class="gray" style="padding: 10px;">Thank you!</i><br /></div>');
		            
		            $("#exp-{{ adopt.pk }}").load(document.URL + ' #exp-{{ adopt.pk }}');
		        }
		    });
		});
    	$("#interact-form-{{ adopt.pk }}-sweet").submit(function(){
		    event.preventDefault();
		    $.ajax({
		        url: '{% url 'interact' username=adopt.owner.username pk=adopt.pk %}',
		        type: 'POST',
		        data: $(this).serialize(),
		        success: function(data) {
		            $("#interaction-{{ adopt.pk }}").html('<div style="padding-bottom: 10px; text-align: center"><i class="gray" style="padding: 10px;">Thank you!</i><br /></div>');
		            
		            $("#exp-{{ adopt.pk }}").load(document.URL + ' #exp-{{ adopt.pk }}');
		        }
		    });
		});
    	$("#interact-form-{{ adopt.pk }}-bitter").submit(function(){
		    event.preventDefault();
		    $.ajax({
		        url: '{% url 'interact' username=adopt.owner.username pk=adopt.pk %}',
		        type: 'POST',
		        data: $(this).serialize(),
		        success: function(data) {
		            $("#interaction-{{ adopt.pk }}").html('<div style="padding-bottom: 10px; text-align: center"><i class="gray" style="padding: 10px;">Thank you!</i><br /></div>');
		            
		            $("#exp-{{ adopt.pk }}").load(document.URL + ' #exp-{{ adopt.pk }}');
		        }
		    });
		});
	});
</script>