{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block title %}Users Online{% endblock %}

{% block content %}

<div class="col-md-2"></div>
<div class="col-md-8">
	<h1 class="gray oswald">Users Online</h1>

	<table class="content-box-table" border=1 frame=void rules=rows>
		<tr>
			<th>Username</th>
			<th style="text-align:center;">Last Action</th>
			<th style="text-align:right;">Time</th>
		</tr>
		<tr>
			<td>
				<a href="{% url 'profile_page' username='CEDAR' %}" class="admin">CEDAR</a>
				<td style="text-align:center;">Performing System Tasks</td>
				<td style="text-align:right;">now</td>
			</td>
		</tr>
		{% for online in online_users %}
			<tr>
				<td>
					{% if online.user.is_superuser %}
						<a href="{% url 'profile_page' username=online.user.username %}" class="admin">{{ online.user.username }}</a>
					{% elif online.user.is_staff %}
						<a href="{% url 'profile_page' username=online.user.username %}" class="staff">{{ online.user.username }}</a>
					{% else %}
						<a href="{% url 'profile_page' username=online.user.username %}">{{ online.user.username }}</a>
					{% endif %}
				</td>
				<td style="text-align:center;">{{ online.action|safe }}</td>
				<td style="text-align:right;">{{ online.time|naturaltime }}</td>
			</tr>
		{% endfor %}
	</table><br />

	<!-- PAGINATION -->
	<nav>
	  	<ul class="pagination justify-content-center">
	    	<li class="page-item {% if not online_users.has_previous %}disabled{% endif %}">
	      		<a class="page-link" href="?page=1" {% if not online_users.has_previous %}tabindex="-1"{% endif %}>
	      			First
	      		</a>
	    	</li>
	    	<li class="page-item {% if not online_users.has_previous %}disabled{% endif %}">
	      		<a class="page-link" href="?page={% if online_users.has_previous %}{{ online_users.previous_page_number }}{% else %}1{% endif %}" {% if not online_users.has_previous %}tabindex="-1"{% endif %}>
	      			Prev
	      		</a>
	    	</li>
	    	<li class="page-item disabled">
	    		<a class="page-link" href="#" tabindex="-1">{{ online_users.number }} of {{ online_users.paginator.num_pages }}</a>
	    	</a>
	    	<li class="page-item {% if not online_users.has_next %}disabled{% endif %}">
	      		<a class="page-link" href="?page={% if online_users.has_next %}{{ online_users.next_page_number }}{% else %}{{ online_users.paginator.num_pages }}{% endif %}" {% if not online_users.has_next %}tabindex="-1"{% endif %}>
	      			Next
	      		</a>
	    	</li>
	    	<li class="page-item {% if not online_users.has_next %}disabled{% endif %}">
	      		<a class="page-link" href="?page={{ online_users.paginator.num_pages }}" {% if not online_users.has_next %}tabindex="-1"{% endif %}>
	      			Last
	      		</a>
	    	</li>
	  	</ul>
	</nav>
	<!-- END PAGINATION -->

</div>
<div class="col-md-2"></div>

{% endblock %}