{% extends "mobile-first-base.html" %}
{% load staticfiles %}
{% load partition %}

{% block title %}{{ current_user.username}}'s Profile{% endblock %}

{% block content %}

<div class="col-sm-1"></div>
<div class="col-sm-7">
	<h1 class="gray oswald">{{ current_user.username }}'s Profile</h1>
	<div class="row">

		<div class="col-sm-6">
			{% for adopt in adopts|partition:"2"|first %}
				<div class="party-space">
					{% if adopt.hatched %}
						<div class="party-space-content">
							<img src="{% static 'img/pokemon/' %}{% if adopt.shiny %}shiny/{% endif %}{{ adopt.pokemon.number }}.png" style="float:left;" />
							<h5 class="blue open-sans"><a href="{% url 'view_adopt' pk=adopt.pk %}">
							{% if adopt.nickname %}
								{{ adopt.nickname }}
							{% else %}
								{{ adopt.pokemon.name }}
							{% endif %}
							</a></h5>
							{% if adopt.percent != 100 %}
							<span id="exp-{{ adopt.pk }}">{{ adopt.exp }}</span> {% if adopt.total_exp != 0 %}/ {{ adopt.total_exp }}{% endif %}
							{% else %}
							<span id="percent-{{ adopt.pk }}">{{ adopt.percent }}</span>%
							{% endif %}
							<div class="progress">
							 	<div class="progress-bar small" role="progressbar" style="{% if adopt.total_exp %}width:{{ adopt.percent }}%;{% else %}width:100%{% endif %}"></div>
							</div>

							<div style="clear:both"></div>
						</div>
						{% include 'includes/interact_pokemon.html' %}
					{% else %}
						<div class="party-space-content">
							<img src="{% static 'img/eggs/' %}{{ adopt.pokemon.number }}.png" style="float:left;" />

							<h5 class="blue open-sans"><a href="{% url 'view_adopt' pk=adopt.pk %}">Egg</a></h5>

							<span id="exp-{{ adopt.pk }}">{{ adopt.exp }}</span> / {{ adopt.pokemon.ehp }}
							<div class="progress">
							 	<div class="progress-bar small" role="progressbar" style="width:{{ adopt.percent }}%;" aria-valuenow="{{ adopt.exp }}" aria-valuemin="0" aria-valuemax="{{ adopt.pokemon.ehp }}"></div>
							</div>

							<div style="clear:both"></div>
						</div>
						{% include 'includes/interact_egg.html' %}
				{% endif %}
				</div>
			{% endfor %}
		</div>

		<div class="col-sm-6">
			{% for adopt in adopts|partition:"2"|last %}
				<div class="party-space">
					{% if adopt.hatched %}
						<div class="party-space-content">
							<img src="{% static 'img/pokemon/' %}{% if adopt.shiny %}shiny/{% endif %}{{ adopt.pokemon.number }}.png" style="float:left;" />
							<h5 class="blue open-sans"><a href="{% url 'view_adopt' pk=adopt.pk %}">
							{% if adopt.nickname %}
								{{ adopt.nickname }}
							{% else %}
								{{ adopt.pokemon.name }}
							{% endif %}
							</a></h5>
							{% if adopt.percent != 100 %}
							<span id="exp-{{ adopt.pk }}">{{ adopt.exp }}</span> {% if adopt.total_exp != 0 %}/ {{ adopt.total_exp }}{% endif %}
							{% else %}
							<span id="percent-{{ adopt.pk }}">{{ adopt.percent }}</span>%
							{% endif %}
							<div class="progress">
							 	<div class="progress-bar small" role="progressbar" style="{% if adopt.total_exp %}width:{{ adopt.percent }}%;{% else %}width:100%{% endif %}"></div>
							</div>

							<div style="clear:both"></div>
						</div>
						{% include 'includes/interact_pokemon.html' %}
					{% else %}
						<div class="party-space-content">
							<img src="{% static 'img/eggs/' %}{{ adopt.pokemon.number }}.png" style="float:left;" />

							<h5 class="blue open-sans"><a href="{% url 'view_adopt' pk=adopt.pk %}">Egg</a></h5>

							<span id="exp-{{ adopt.pk }}">{{ adopt.exp }}</span> / {{ adopt.pokemon.ehp }}
							<div class="progress">
							 	<div class="progress-bar small" role="progressbar" style="width:{{ adopt.percent }}%;" aria-valuenow="{{ adopt.exp }}" aria-valuemin="0" aria-valuemax="{{ adopt.pokemon.ehp }}"></div>
							</div>

							<div style="clear:both"></div>
						</div>
						{% include 'includes/interact_egg.html' %}
				{% endif %}
				</div>
			{% endfor %}
		</div>

	</div>
</div>
<div class="col-sm-3">
	{% if user.username == current_user.username %}
	{% if user.is_superuser %}
		<br class="desktop" /><br class="desktop" /><br class="desktop" /><br class="desktop" />
		<h5 class="gray">What are you up to?</h5>
		<form action="{% url 'manually_update_online' %}" method="POST">
			{% csrf_token %}
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon input-group-addon" id="basic-addon1"><i class="fa fa-user"></i></span>
					<input type="text" class="form-control" name="action" placeholder="I am..." />
				</div>
			</div>
			<button class="btn btn-secondary" type="submit">Go</button>
		</form>
		<br class="mobile" />
	{% endif %}
	{% endif %}
</div>
<div class="col-sm-1"></div>

{% endblock %}