{% load sass_tags %}
{% load staticfiles %}
{% load users_online %}
{% load bookmark_notes %}
{% load get_posts %}
{% load subtract %}
{% load partition %}
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
		<title>{% block title %}{% endblock %} - Pok&eacute;frame</title>

		<!-- PLUGINS -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Oswald&amp;subset=latin-ext"  />
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">


		<!-- CUSTOM STYLES -->
		<link rel="stylesheet" type="text/css" href="{% sass_src 'css/main.scss' %}" />

		<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

	</head>
	<body>

	<div class="row">
		<div class="col-md-7">
			<div class="news" style="overflow: auto;">
				
				<div class="row-fluid">
					<div class="news-item col-md-4">
						<div class="wrap">
							<span class="blue bold">Scroll to the right for more news and updates.</span>
						</div>
					</div>
					{% get_posts as posts_header %}
					{% for post in posts_header %}
						<div class="news-item col-md-4">
							<div class="wrap">
								<span class="small">
									<a href="{% url 'view_post' pk=post.pk %}"><span {% if post.important %}class="red bold"{% endif %}>{{ post.title }}</span></a>
									{{ post.body_text|truncatechars:post.body_length }}
								</span>
							</div>
						</div>
					{% endfor %}
					<div class="news-item col-md-4">
						<div class="wrap">
							<a href="{% url 'category' category='Announcements' %}" class="blue bold">To view more announcements, click here.</a>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="col-md-5 info-box small">
				<div style="float:left;">
					{% now "H:i M d Y" %}<br />
					<a href="{% url 'online_page' %}">{{ 1|users_online }} User{{ 1|users_online|pluralize }} Online</a><br />
					<a href="{% url 'admin:index' %}">Admin</a>
				</div>
				<div style="float:right;text-align: right;">
					{% if user.is_authenticated %}
						<span class="big">

							<div id="notes">

								<a href="{% url 'view_bookmarks' %}">
									{% if user|bookmark_notes > 0 %}
										<span class="badge badge-danger {% if user|bookmark_notes > 0%} badge-default {% endif %}">
											<b>
												{{ user|bookmark_notes }} <i class="fa fa-bookmark"></i>
											</b>
										</span>
									{% else %}
										<span class="badge badge-light {% if user|bookmark_notes > 0%} badge-default {% endif %}">
											<b>
												0 <i class="fa fa-bookmark"></i>
											</b>
										</span>
									{% endif %}
								</a>

							</div>

							<a href="{% url 'profile_page' username=user.username %}">{{ user.username }}</a>
							
							</a>
						</span>
						<br />
						<a href="{% url 'logout' %}">Log Out?</a>
					{% else %}
					<a href="{% url 'login_page' %}">Log in</a><br />
					<a href="{% url 'register_page' %}">Register</a><br />
					<a href="#">Forgot Password</a>
					{% endif %}
				</div>
				<div style="clear:both;"></div>
			</div>
		</div>
	</div>

	<nav class="navbar navbar-toggleable-sm navbar-light">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation" style="margin:10px 20px;">
			<i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>
		</button>
		<a class="navbar-brand" href="{% url 'index' %}"><span class="green-text">Pok&eacute;frame</span></a>

		<div class="collapse navbar-collapse" id="nav">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'lab' %}">Lab <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'boxes' %}">Boxes</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'park' %}">Park</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#" style="padding-left:0px;">Daycare</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'pokedex_index' %}" style="padding-left:0px;">Pok&eacute;dex</a>
				</li>
				<li class="no-blue drop">
					<a class="nav-link" href="#" >More...</a>
					<div class="dropdownContain">
						<div class="dropOut">
							<div class="triangle"></div>
							<ul>
								<li><a href="#">Inventory</a></li>
								<li><a href="#">Shop</a></li>
								<li><a href="{% url 'forum_index' %}">Forum</a></li>
							</ul>
						</div>
					</div>
				</li>

			</ul>
		</div>
	</nav>

	<div class="container-fluid" style="margin-top:15px;">
		<div class="row">
			{% block content %}{% endblock %}
		</div>
	</div>

	<div class="footer small gray">
		&copy; Pok&eacute;frame 2017&nbsp; | <a href="#">Support</a>
	</div>

	</body>
</html>

<script type="text/javascript">
	function loadNotes(){
		//$("#notes").load("#notes").fadeOut("fast").fadeIn("fast");
		// var the_html = $("#notes").html();
		// $("#notes").html(the_html);
		// alert('yes');
		$("#notes").load(document.URL + " #notes");
	}

	$(document).ready(function(){
		setInterval(function(){
			loadNotes()
		}, 5000);
	});
</script>













