{% load sass_tags %}
{% load staticfiles %}
{% load users_online %}
{% load bookmark_notes %}
{% load get_posts %}
{% load subtract %}
{% load partition %}
{% load next %}
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<title>{% block title %}{% endblock %} - PKMNPC</title>

		<!-- PLUGINS CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Oswald&amp;subset=latin-ext"  />
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

		<!-- CUSTOM STYLES -->
		<link rel="stylesheet" href="{% sass_src 'css/mobile-first.scss' %}" />


		<!-- PLUGINS JS -->
		<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>

		<!-- CUSTOM JS -->
		<script type="text/javascript" src="{% static 'js/main.js' %}"></script>


		<script>

			function loadNotes(){
				$("#notes").load(document.URL + " #notes");
			}

			$(document).ready(function () {

			    $("#you-menu-button").click(function () {
			    	if (!$("#you-menu").is(":visible")) {
			    		$("#you-menu").slideToggle('fast');
			    	}
			    });

			    $(document).mouseup(function(event) {
				    var target = $("#you-menu");
				    if(!target.is(event.target) && !$("#you-menu-button").is(event.target) && target.is(":visible")) {
				       $("#you-menu").slideToggle("fast");
				    } else {
				      return false;
				    }
				});

				setInterval(function(){
					loadNotes()
				}, 5000);
			});

		</script>

	</head>
	<body>

		<!--<div class="desktop">
			<nav class="desktop-nav">
				<ul>
				    <li><a href="#"><span>PKMNPC</span></a></li>
				    <li><a href="#"><span>Lab</span></a></li>
				    <li><a href="#"><span>PC</span></a></li>
				    <li><a href="#"><span>Park</span></a></li>
				    <li><a href="#"><span>Pok&eacute;dex</span></a></li>
				    <li><a href="#"><span>More...</span></a></li>
				</ul>
			</nav>
		</div>-->

		<span class="desktop">
			<div class="row">
				<div class="col-md-7">
					<div class="news" style="overflow: auto;">
						
						<div class="row-fluid">
							<div class="news-item col-md-4">
								<div class="wrap">
									<span class="blue bold">Scroll to the right for more news and updates.</span>
								</div>
							</div>
							{% get_posts as posts_header %}
							{% for post in posts_header %}
								<div class="news-item col-md-4">
									<div class="wrap">
										<span class="small">
											<a href="{% url 'view_post' pk=post.pk %}"><span {% if post.important %}class="red bold"{% endif %}>{{ post.title }}</span></a>
											{{ post.body_text|truncatechars:post.body_length }}
										</span>
									</div>
								</div>
							{% endfor %}
							<div class="news-item col-md-4">
								<div class="wrap">
									<a href="{% url 'category' category='Announcements' %}" class="blue bold">To view more announcements, click here.</a>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="col-md-5 info-box small">
						<div style="float:left;">
							{% now "H:i M d Y" %}<br />
							<a href="{% url 'online_page' %}">{{ 1|users_online }} User{{ 1|users_online|pluralize }} Online</a><br />
							<a href="{% url 'admin:index' %}">Admin</a>
						</div>
						<div style="float:right;text-align: right;">
							{% if user.is_authenticated %}
								<span class="big">

									<div id="notes">

										<a href="{% url 'view_bookmarks' %}">
											{% if user|bookmark_notes > 0 %}
												<span class="badge badge-danger {% if user|bookmark_notes > 0%} badge-default {% endif %}">
													<b>
														{{ user|bookmark_notes }} <i class="fa fa-bookmark"></i>
													</b>
												</span>
											{% else %}
												<span class="badge badge-light {% if user|bookmark_notes > 0%} badge-default {% endif %}">
													<b>
														0 <i class="fa fa-bookmark"></i>
													</b>
												</span>
											{% endif %}
										</a>

									</div>

									<a href="{% url 'profile_page' username=user.username %}">{{ user.username }}</a>
									
									</a>
								</span>
								<br />
								<a href="{% url 'logout' %}">Log Out?</a>
							{% else %}
							<a href="{% url 'login_page' %}">Log in</a><br />
							<a href="{% url 'register_page' %}">Register</a><br />
							<a href="#">Forgot Password</a>
							{% endif %}
						</div>
						<div style="clear:both;"></div>
					</div>
				</div>
			</div>
		</span>
		<span class="desktop">
		
			<nav class="navbar navbar-toggleable-sm navbar-light">
				
				<a class="navbar-brand" href="{% url 'index' %}"><span class="green-text">Pok&eacute;frame</span></a>

				<div class="collapse navbar-collapse" id="nav">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="{% url 'lab' %}">Lab <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'boxes' %}">Boxes</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'park' %}">Park</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#" style="padding-left:0px;">Daycare</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'pokedex_index' %}" style="padding-left:0px;">Pok&eacute;dex</a>
						</li>
						<li class="no-blue drop">
							<a class="nav-link" href="#" >More...</a>
							<div class="dropdownContain">
								<div class="dropOut">
									<div class="triangle"></div>
									<ul>
										<li><a href="#">Inventory</a></li>
										<li><a href="#">Shop</a></li>
										<li><a href="{% url 'forum_index' %}">Forum</a></li>
									</ul>
								</div>
							</div>
						</li>

					</ul>
				</div>
			</nav>

		</span>

		<div class="mobile">
			<div class="announcements-title" id="announcements-title">
				<div class="left oswald white uppercase">
					<a href="{% url 'category' category='Announcements' %}" style="color: white;">Recent Announcements...</a>
				</div>
				<div class="right white light small" style="margin-top: 3px;">
					<a href="{% url 'online_page' %}">
						{{ 1|users_online }} User{{ 1|users_online|pluralize }} Online
					</a>
				</div>
				<div class="clear"></div>
			</div>


			<div class="announcements" style="overflow: auto;">
				<div class="row-fluid">
					{% get_posts as posts_header %}
					{% for post in posts_header %}
					<div id="announcement-{{ post.pk }}" class="item col-md-4">
						<div class="wrap">
							<span class="small">
								<a href="{% url 'view_post' pk=post.pk %}"><span {% if post.important %}class="red bold"{% endif %}>{{ post.title }}</span></a>
								{{ post.body_text|truncatechars:post.body_length }}
							</span>
						</div>

						{% with posts_header|previous:forloop.counter0 as previous %}
							{% if previous %}
								<a href="#announcement-{{ previous.pk }}" class="previous-button" style="margin-top: 18px;color: white;">
									<i class="fa fa-chevron-left very-big" aria-hidden="true"></i>
								</a>
						    {% endif %}
						{% endwith %}

						{% with posts_header|next:forloop.counter0 as next %}
							{% if next %}
								<a href="#announcement-{{ next.pk }}" class="next-button" style="margin-top: 18px;color: white;">
									<i class="fa fa-chevron-right very-big" aria-hidden="true"></i>
								</a>
							{% else %}
								<a href="{% url 'category' category='Announcements' %}" class="next-button" style="margin-top: 18px;color: white;">
									<i class="fa fa-arrow-circle-right very-big" aria-hidden="true"></i>
								</a>
						    {% endif %}
						{% endwith %}

					</div>

					{% endfor %}
				</div>
			</div>
		</div>

		<div class="container-fluid" style="padding-top: 10px;min-height: 100%;overflow-y: scroll;">
			<div class="row">
				{% block content %}{% endblock %}
			</div>
		</div>

		<nav class="navbar navbar-light mobile-nav fixed-bottom mobile">
			<a class="navbar-brand" id="you-menu-button" href="#" style="text-align: center;position: relative;">
				<img src="{% static 'img/icons/crown.png' %}" width="38" />
				<div id="notes" style="position: absolute;top: 0;right:-10px;">
					{% if user|bookmark_notes > 0 %}
						<span class="notes-circle very-small">
							<b>{{ user|bookmark_notes }}</b>
						</span>
					{% endif %}
				</div>
			</a>

			<div class="menu-bubble" id="you-menu">
				<div class="bubble">
					{% if user.is_authenticated %}
						<div class="bubble-header white big oswald" style="padding: 5px;">
							<span class="left">{{ user.username }}</span>
							<span class="right">
								<a href="{% url 'logout' %}" class="light open small">
									<span class="red">Logout?</span>
									<img src="{% static 'img/icons/power-red.png' %}" width="16" /> &nbsp;
								</a>
							</span>
							<div class="clear"></div>
						</div>
						<div class="bubble-content small">
							Notifications: <br />
							PD: <br />
							Coins: <br />
							{% if user.is_superuser %}
							<a href="{% url 'admin:index' %}">Admin</a>
							{% endif %}
						</div>
					{% else %}
						<div class="bubble-header white big oswald" style="padding: 5px;">
							<b>Welcome!</b> You're not logged in.
						</div>
						<div class="bubble-content small">
							<a href="{% url 'login_page' %}"><span class="dark-blue">Login</span></a><br />
							<a href="{% url 'register_page' %}"><span class="dark-blue">Register</span></a>
						</div>
					{% endif %}
					<div style="display: block;padding-bottom: 5px;">
					<a href="#" class="white small">&nbsp; Support</a>
					</div>
				</div>
			</div>
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'lab' %}">
						<img src="{% static 'img/icons/egg.png' %}" width="15" />
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'boxes' %}">
						<img src="{% static 'img/icons/boxes.png' %}" width="17" />
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'park' %}">
						<img src="{% static 'img/icons/grass.png' %}" width="20" />
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						<img src="{% static 'img/icons/heart.png' %}" width="16" />
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#" style="color: white;font-size:.3em;letter-spacing: 3px;">
						&#9679;&#9679;&#9679;
					</a>
				</li>
			</ul>
		</nav>

	</body>

</html>




