{% extends "mobile-first-base.html" %}
{% load staticfiles %}
{% load partition %}

{% block title %}Pok&eacute;dex{% endblock %}

{% block content %}

<div class="col-sm-1"></div>
<div class="col-sm-8">
	<h1 class="gray oswald">Pok&eacute;dex</h1>
	<div class="row">
		<div class="col-sm-12">
			<p><span class="red bold">Flavor text is needed here! Something about not having a pokedex, and needing one, where to get it, what it means. Art (of a pokedex) is needed here too!</span></p>
			<p>It seems you don't have a Pok&eacute;dex- Head over to <a href="{% url 'lab' %}">Prof. Cedar's Lab</a> to get one!</p>
		</div>
	</div>
</div>

{% endblock %}